@page "/{roomName}"
@using Microsoft.AspNetCore.SignalR.Client
@using BlazorChatAppFinal01.Shared
@inject NavigationManager NavigationManager

@inject HttpClient Http

<!DOCTYPE html>
<html>
<head>

</head>
<body>

    <p>@AppState.UserName  </p>

    <div class="container bg-primary">
        <div class="form-group">

            <ul id="messagesList">
                @foreach (var message in messages)
                {
                    <li>@message</li>
                }
            </ul>

        </div>

    </div>
    <div class="container bg-secondary">
        <div class="col-auto">
            <label>
                Message:
                <input @bind="messageInput" size="50" />
            </label>
        </div>
        <div class="col-auto">
            <button class="btn btn-primary" @onclick="Send" disabled="@(HubConnection.State != HubConnectionState.Connected)">Send</button>

        </div>
    </div>






</body>
</html>



@code {

    string previousRoomName = "";
    [Parameter] public string RoomName { get; set; }
    [CascadingParameter] public Microsoft.AspNetCore.SignalR.Client.HubConnection HubConnection { get; set; }

    private List<string> messages = new List<string>();
    //private string userInput;
    private string messageInput;

    protected override async Task OnParametersSetAsync()
    {
        if (RoomName == previousRoomName)
        {
            return;
        }
        else
        {
            messages.Clear();
            // userInput = "";
            messageInput = "";

            if (AppState.Rooms.ContainsKey(RoomName))
            {
                AppState.Rooms[RoomName] = 0;
                AppState.AppStateUpdated?.Invoke();
            }

            AppState.CurrentRoom = this;

            var previousChats = await Http.GetFromJsonAsync<ChatData[]>($"Chat/{RoomName}");

            if (previousChats != null)
            {
                foreach (var previousChat in previousChats)
                {
                    var encodedMsg = $"{previousChat.User}: {previousChat.Message}";
                    messages.Add(encodedMsg);
                }
            }
        }
    }

    public void ReceiveMessage(string message)
    {
        messages.Add(message);
        StateHasChanged();
    }

    Task Send() =>
    HubConnection.SendAsync("SendMessage", AppState.UserName, messageInput, RoomName);


}


